template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: PolicySynth-OPA – Event-driven SCP → OPA pipeline

Parameters:
  ArtifactBucket:
    Type: String
    Description: S3 bucket for generated/published bundles
  ArtifactPrefix:
    Type: String
    Default: generated/scp
    Description: Staging prefix for in-flight artifacts
  PublishedPrefix:
    Type: String
    Default: published/scp
    Description: Final “enforced” bundle location
  OpaLayerArn:
    Type: String
    Description: ARN of Lambda Layer providing /opt/bin/opa
  OrgId:
    Type: String
    Default: ""
    Description: Optional — restrict Organizations access to this Org ID
  EventBusName:
    Type: String
    Default: default
    Description: EventBridge bus name that receives CreatePolicy/UpdatePolicy/DeletePolicy events

Globals:
  Function:
    Runtime: python3.11
    Timeout: 120
    MemorySize: 768
    Tracing: Active
    Environment:
      Variables:
        ARTIFACT_BUCKET: !Ref ArtifactBucket
        ARTIFACT_PREFIX: !Ref ArtifactPrefix
        PUBLISHED_PREFIX: !Ref PublishedPrefix
        OPA_BIN: /opt/bin/opa
    Layers:
      - !Ref OpaLayerArn

Resources:
  #### Lambdas
  ScpRetrieveFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: lambdas/scp_pipeline/retrieve.lambda_handler
      CodeUri: src
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - organizations:ListPolicies
                - organizations:DescribePolicy
              Resource: "*"
              Condition:
                StringEqualsIfExists:
                  aws:ResourceOrgID: !Ref OrgId
            - Effect: Allow
              Action: s3:PutObject
              Resource: !Sub arn:aws:s3:::${ArtifactBucket}/*
  ScpGenerateFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: lambdas/scp_pipeline/generate.lambda_handler
      CodeUri: src
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
              Resource: !Sub arn:aws:s3:::${ArtifactBucket}/*
  ScpValidateFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: lambdas/scp_pipeline/validate.lambda_handler
      CodeUri: src
      Policies:
        - Statement:
            - Effect: Allow
              Action: s3:GetObject
              Resource: !Sub arn:aws:s3:::${ArtifactBucket}/*
  ScpDeployFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: lambdas/scp_pipeline/deploy.lambda_handler
      CodeUri: src
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
                - s3:DeleteObject
              Resource: !Sub arn:aws:s3:::${ArtifactBucket}/*
  ScpDeleteFn:
    Type: AWS::Serverless::Function
    Properties:
      Handler: lambdas/scp_pipeline/delete.lambda_handler
      CodeUri: src
      Policies:
        - Statement:
            - Effect: Allow
              Action:
                - s3:DeleteObject
                - s3:ListBucket
              Resource:
                - !Sub arn:aws:s3:::${ArtifactBucket}
                - !Sub arn:aws:s3:::${ArtifactBucket}/*

  #### Step Functions – orchestrates the workflow
  ScpPipelineStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Tracing:
        Enabled: true
      Definition:
        Comment: "SCP CRUD → Generate → Validate → Deploy (or Delete)"
        StartAt: RouteByAction
        States:
          RouteByAction:
            Type: Choice
            Choices:
              - Variable: $.action
                StringEquals: DeletePolicy
                Next: Delete
              - Variable: $.action
                StringEquals: CreatePolicy
                Next: Retrieve
              - Variable: $.action
                StringEquals: UpdatePolicy
                Next: Retrieve
            Default: Retrieve
          Retrieve:
            Type: Task
            Resource: !GetAtt ScpRetrieveFn.Arn
            ResultPath: $.retrieved
            Next: Generate
          Generate:
            Type: Task
            Resource: !GetAtt ScpGenerateFn.Arn
            Parameters:
              retrieved.$: $.retrieved
            ResultPath: $.generated
            Next: Validate
          Validate:
            Type: Task
            Resource: !GetAtt ScpValidateFn.Arn
            Parameters:
              generated.$: $.generated
            ResultPath: $.validated
            Next: Deploy
          Deploy:
            Type: Task
            Resource: !GetAtt ScpDeployFn.Arn
            Parameters:
              generated.$: $.generated
              validated.$: $.validated
            ResultPath: $.deployed
            End: true
          Delete:
            Type: Task
            Resource: !GetAtt ScpDeleteFn.Arn
            ResultPath: $.deleted
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref ScpRetrieveFn
        - LambdaInvokePolicy:
            FunctionName: !Ref ScpGenerateFn
        - LambdaInvokePolicy:
            FunctionName: !Ref ScpValidateFn
        - LambdaInvokePolicy:
            FunctionName: !Ref ScpDeployFn
        - LambdaInvokePolicy:
            FunctionName: !Ref ScpDeleteFn

  #### EventBridge → Step Functions (SCP CRUD)
  ScpCrudRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: !Ref EventBusName
      EventPattern:
        source: ["aws.organizations"]
        detail-type: ["AWS API Call via CloudTrail"]
        detail:
          eventSource: ["organizations.amazonaws.com"]
          eventName: ["CreatePolicy", "UpdatePolicy", "DeletePolicy"]
      Targets:
        - Arn: !Ref ScpPipelineStateMachine
          Id: ScpSfnTarget
          RoleArn: !GetAtt EventsToSfnRole.Arn
          InputTransformer:
            InputPathsMap:
              detail: $.detail
            InputTemplate: |
              {
                "action": <detail.eventName>,
                "policyId": <detail.responseElements.policy.policySummary.id>,
                "policyName": <detail.responseElements.policy.policySummary.name>,
                "policyContent": <detail.responseElements.policy.content>
              }

  EventsToSfnRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal: { Service: events.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: AllowStartExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref ScpPipelineStateMachine

Outputs:
  StateMachineArn:
    Value: !Ref ScpPipelineStateMachine
  RetrieveFnArn:
    Value: !GetAtt ScpRetrieveFn.Arn
  GenerateFnArn:
    Value: !GetAtt ScpGenerateFn.Arn
  ValidateFnArn:
    Value: !GetAtt ScpValidateFn.Arn
  DeployFnArn:
    Value: !GetAtt ScpDeployFn.Arn
  DeleteFnArn:
    Value: !GetAtt ScpDeleteFn.Arn
